<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sendermail589@gmail.com">
        <network host="smtp.gmail.com" 
                 userName="sendermail589" 
                 password="" 
                 port="587" 
                 enableSsl="true">
          </network>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>